.git
.gitignore
.env
.env.example
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.pytest_cache
.mypy_cache
.coverage
htmlcov
bandit-results.json
bandit-results.txt
test_app.py
Dockerfile
docker-compose.yml
.github
bandit.yaml
docs/
.idea
.vscode
.DS_Store
